/* You can add global styles to this file, and also import other style files */

html, body {
     height: 100%;
     background: #ECF0F1;
 }
body { 
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", 
    sans-serif; 
}

.text-center {
    text-align: center;
}

.ml20 {
    margin-left: 20px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}

.ml10 {
    margin-left: 10px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mt50 {
  margin-top: 50px !important;

}

.cart-item {
    font-size: small;
  }
  
  .filters {
    font-size: small;
  }
  
  .card, .form-control, .btn {
    border-radius: 0;
  }
  
  .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .product-btn {
    font-size: smaller;
  }
  
  .fa-heart {
    color: palevioletred;
    cursor: pointer;
  }
  
  .guest-form-card h2 {
    text-transform: uppercase;
    font-size: medium;
  }
  
  .guest-form-card label {
    font-size: small;
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
  }